{% load static %}
<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="theme-color" content="#1da1f2">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tehsil.biz</title>

	<meta property="og:url" content="index.html" />
	<meta property="og:title" content="Tehsil.biz" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="./templates/default/img/main-logo.html" />

	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="fav.png" />

	<!-- Stylesheet CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"
		href="{% static 'templates/default/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" type="text/css"
		href="{% static 'templates/default/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/util.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/default/css/stylesheet54e8.css' %}">
</head>

<body>
	<!-- Post -->
	{% block content %}
    {% endblock %}
	<!-- Footer -->
	<footer>
		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Bütün hüquqlar qorunur. © 2020 | Sayt materiallarının istifadəsi zamanı www.tehsil.biz linkini
					istinad etmək mütləqdir. <br />
					Bizimlə əlaqə: <a href="cdn-cgi/l/email-protection.html" class="__cf_email__"
						data-cfemail="98f1f6fef7d8ecfdf0ebf1f4b6faf1e2">[email&#160;protected]</a> | +99455 619 95 96,
					+99412 566 66 05 </span>
			</div>
		</div>
	</footer>

	<!-- Back to Top -->
	<div class="utf-back-to-top" id="myBtn"><span class="symbol-utf-back-to-top"><span
				class="fas fa-angle-up"></span></span></div>

	<!-- Modal Video -->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal">&times;</div>
			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/2Gg6Seob5Mg"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- Jquery -->
	<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="{% static 'templates/default/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'templates/default/js/animsition.min.js' %}"></script>
	<script src="{% static 'templates/default/js/popper.js' %}"></script>
	<script src="{% static 'templates/default/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'templates/default/js/custom_jquery.js' %}"></script>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179633957-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179633957-1');
	</script>


</body>

<!-- Mirrored from tehsil.biz/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Sep 2021 04:29:57 GMT -->

</html>